.header1 {
    font-size: 70px;
    font-family: "Unfiltered Worn Large";
    margin: 20px 0px 30px 0px;
}

.header2 {
    font-size: 35px;
    font-family: "Unfiltered Worn Large";
    margin: 0px 0px 30px 0px;
}

.header3 {
    font-size: 20px;
    font-family: "Unfiltered Worn Large";
    margin: 0px 0px 20px 0px;
}