@import url('../../presets.css');

/* --- The below section contains the CSS for the content of each popup. --- */
@import url('./popup/about-popup.css'); /* About Section */
@import url('./popup/explore-popup.css'); /* Explore Section */
@import url('./popup/attractions-popup.css'); /* Attractions Section */
@import url('./popup/stays-popup.css'); /* Stays Section */
@import url('./popup/visit-popup.css'); /* Visit Section */

/* Main popup container */

#popups {
    position: fixed;
    width: 120vw;
    height: 120vh;
    z-index: -5;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Each popup */

.popup {
    width: 90vw;
    height: 75vh;
    box-shadow: 0 0px 20px 0 rgba(0,0,0, 0.4);
    border: 1px solid rgba(0,0,0,0.2);
    position: absolute;
    opacity: 0;
    background: white;
    left: 50%;
    top: 53%;
    transform: translate(-50%, -50%);
    padding: 50px;
    animation: fadeOut 0.5s;
    z-index: -10;
}

.popup.popUpShow { /* For the popup that shows up. */
    animation: fadeIn 0.5s;
    display: block;
    overflow-y: auto;
    opacity: 1;
    z-index: 100;
}

/* Cancel button */

#cancel {
    position: fixed;
    left: 87%;
    top: 23%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    cursor: pointer;
    display: none;
}

.seeMoreLink {
    text-decoration: none;
    color: rgba(162, 196, 67, 1);
}